@import "src/scss/colors";
@import "src/scss/mixins";

.login {
  box-sizing: border-box;
    background-color: $bgc-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
   
    @include media-max-width($initial-responsive-breakpoint) {
      
      height: auto;
   }
   
    &_form {
        background-color: $bgc-primary;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 50%;
        padding: 5vw;
        // height: auto;
        @include media-max-width($mobile-breakpoint) {
           padding: 1rem;
        }
        margin-left: 4.1rem;
        @include media-max-width($initial-responsive-breakpoint) {
          margin-left: 0;
          margin-top: 4.1rem;
       }


    }
  &_container {
    display: flex;
    min-height: 100vh;
    
    @include media-max-width($initial-responsive-breakpoint) {
        flex-direction: column;
        min-height: 100vh;
      
     }

     @include media-max-width(1260px) {
      padding: 2rem 5vw;
    
   }
    
  }

  
}
