@import "src/scss/colors";
@import "src/scss/mixins";
.login {
    background-color: $bgc-secondary;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    &_form {
        background-color: $bgc-primary;
        border-radius: 2rem;
        flex: 1 0 50%;
        padding: 10rem;
        @include media-max-width($mobile-breakpoint) {
           padding: 1rem;
        }

    }
  &_container {
    display: flex;
    
    @include media-max-width($initial-responsive-breakpoint) {
        flex-direction: column;
     }
    
  }

  
}
