@import "src/scss/colors";
.custome_section{
    padding-top: 5vh;
    padding-bottom: 0;
}
.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $neutral;
    padding: 1.5rem 5rem;
    border-radius: .8rem;

    text-transform: capitalize;

    *:not(:last-child){
        margin-right: 1rem;
    }
}