@import "src/scss/mixins";
.section{
    position: relative;
    &_container{
        position: relative;
        @include global-gap();
    }

    &_decoration{
        position: absolute;
        width : 100%;
        z-index: 996;
    }
}