@import "src/scss/mixins";
@import "src/scss/colors";

.helpdesk{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
   
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 40px rgba(255, 254, 254, 0.5);
    img{
      
        width: 65%;
        height: auto;
    }

    @include media-max-width($mobile-breakpoint) {
     
        width: 5rem;
        height: 5rem;
    }

}